-#= javascript_pack_tag 'hello_react'
= javascript_pack_tag 'components'
%h1 Chat room

-#= react_component 'Hello', name: current_user.name
= react_component 'MessagesApp', messages: @messages.map(&:to_json)

-##messages
-#  = render @messages

%form
  %label Say something
  %input{type: 'text', data: {behaviour: 'room_speaker'}}


